flows-edge-io-controller/nubeiOExampleNode.json
[
    {
        "id": "b7f1d2e9.60922",
        "type": "tab",
        "label": "Nube Read/Write",
        "disabled": false,
        "info": ""
    },
    {
        "id": "193d205b.58363",
        "type": "read-point",
        "z": "b7f1d2e9.60922",
        "name": "Read Point",
        "point": "UI1",
        "server": "271b5111.79b30e",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "9f75d391.864ad"
            ]
        ]
    },
    {
        "id": "e5bd7271.0669a",
        "type": "comment",
        "z": "b7f1d2e9.60922",
        "name": "Read Point",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "9f75d391.864ad",
        "type": "debug",
        "z": "b7f1d2e9.60922",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "dd3ed2b9.8cd59",
        "type": "inject",
        "z": "b7f1d2e9.60922",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 120,
        "wires": [
            [
                "193d205b.58363"
            ]
        ]
    },
    {
        "id": "40c88a97.aa9254",
        "type": "comment",
        "z": "b7f1d2e9.60922",
        "name": "Write Point",
        "info": "",
        "x": 120,
        "y": 200,
        "wires": []
    },
    {
        "id": "c25168ca.fabd78",
        "type": "write-point",
        "z": "b7f1d2e9.60922",
        "name": "Write Point",
        "point": "write point",
        "server": "271b5111.79b30e",
        "value": "0",
        "priority": "16",
        "x": 530,
        "y": 260,
        "wires": [
            [
                "4d639e0.d0a8364"
            ]
        ]
    },
    {
        "id": "4d639e0.d0a8364",
        "type": "debug",
        "z": "b7f1d2e9.60922",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "af0298d3.5c5268",
        "type": "inject",
        "z": "b7f1d2e9.60922",
        "name": "",
        "topic": "R1",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 260,
        "wires": [
            [
                "51b2b598.be129c"
            ]
        ]
    },
    {
        "id": "51b2b598.be129c",
        "type": "function",
        "z": "b7f1d2e9.60922",
        "name": "",
        "func": "msg.point = msg.topic;\nmsg.value = msg.payload;\nmsg.priority = 16;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "c25168ca.fabd78"
            ]
        ]
    },
    {
        "id": "3467ba1a.56d936",
        "type": "inject",
        "z": "b7f1d2e9.60922",
        "name": "",
        "topic": "R1",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "51b2b598.be129c"
            ]
        ]
    },
    {
        "id": "271b5111.79b30e",
        "type": "edge-server",
        "z": "",
        "name": "",
        "host": "192.168.6.2",
        "port": "4000",
        "username": "admin",
        "password": "83e54fc20f2f",
        "remote": true
    }
]
